.card {
  width: 32rem;
  height: 20rem;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
  background-color: var(--card-bg-color);
}

.card:hover {
  box-shadow: var(--card-box-shadow-hover);
}

.card__category {
}
